<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.gyyx.java.ServerMapper"> 

	<resultMap id="ServerInfoResult"  type="ServerInfo" >
		<result property="code" column="code" javaType="int" />		
		<result property="serverid" column="serverid" javaType="int" />		
		<result property="servername" column="servername" javaType="String" />		
	</resultMap>	
    <!-- 这里的id必须和UserMapper接口中的接口方法名相同，不然运行的时候也要报错 --> 
    <select id="queryListByServerId" resultMap="ServerInfoResult" parameterType="java.lang.String"> 
        select * from zhangzhiyang_game_server_tb where serverid=#{id}
    </select> 
    
     <update id="updateServerName" parameterType="map" >
    	update zhangzhiyang_game_tb set name = #{name} where code = #{code}
    </update> 
</mapper> 